body {
  background-color: #3aafa9;
}
.about-container {
  background-color: #2b7a78;
  width: 50%;
  height: 100%;
  color: #feffff;
}
.about {
  text-align: center;
  padding-bottom: 20px;
}
.btn {
  color: black;
}
@media screen and (max-width: 768px) {
  .about-container {
    width: 90%;
  }
}
